<div class="container">
    <div class="form-category">
        <button type="button" class="btn" (click)="displayForm(1)"  [ngClass]="{'active-form': activeIndex === 1}">
            Personal
        </button>
        <button type="button" class="btn" (click)="displayForm(2)" [ngClass]="{'active-form': activeIndex === 2}">
            Work Experiences
        </button>
        <button type="button" class="btn" (click)="displayForm(3)" [ngClass]="{'active-form': activeIndex === 3}">
            Skills
        </button>
        <button type="button" class="btn" (click)="displayForm(4)" [ngClass]="{'active-form': activeIndex === 4}">
            Projects
        </button>
         <button type="button" class="btn" (click)="displayForm(5)" [ngClass]="{'active-form': activeIndex === 5}">
            Education
        </button>
    </div>
    <div class="form-display">
        @switch (activeIndex) {
            @case (1) {
                <app-personal-info [personInfoForm]="personInfoForm"></app-personal-info>
            }
            @case (2) {
                <app-work-experience [experienceForm]= "experienceForm"></app-work-experience>
            }
            @case (3) {
                <app-skills [skillsForm]= "skillsForm"></app-skills>
            }
            @case (4) {
                <app-project [projectsForm]= "projectsForm"></app-project>
            }
             @case (5) {
                <app-education [educationForm]= "educationForm"></app-education>
            }
        }
    </div>
</div>