.form-category  {
    margin-bottom: 20px;
}

button {
    border-radius: .375rem;
    border: 0 solid #e5e7eb;
    border-width: 1px;
    color: #080808;
    font-size: 14px;
}

button:hover{
    background-color: #16a085;
    color: #fff;
}

.active-form {
    background-color: #16a085;
    color: #fff;
}