#remove-project,
#add-project {
  background-color: #000;
  color: #ffffff;
  border: 1px solid #000;
  border-radius: .375rem;
  border-width: 1px;
  font-size: 14px;
  font-weight: 200;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
  }
  #remove-project:hover,
  #add-project:hover {
    animation: smoothHover 0.4s ease forwards;
  }
  
  @keyframes smoothHover {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1.05);
    }
  }

.form-control {
    font-size: 14px;
    border-color: #6d6e7069;
    border-width: 1.5px;
}

.no-outline:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #020817;
    border-width: 2px;
}
