<div class="container">
    <form [formGroup]="projectsForm">
        <div formArrayName="projects">
            <div *ngFor="let proj of projects.controls; let i = index" [formGroupName]="i">
                <hr>
                <div class="mb-3">
                    <label for="projectName" class="form-label">Project</label>
                    <input type="text" class="form-control no-outline" formControlName="projectName" id="projectName">
                </div>
                <div class="mb-3">
                    <label for="zip" class="form-label">Project/Role description</label>
                    <textarea type="text" class="form-control no-outline" formControlName="description"
                        id="description"></textarea>
                </div>
                <button id="add-project" (click)="removeProject(i)" type="button" class="btn px-3">
                    Remove project
                </button>
            </div>
        </div>
    </form>
    <div>
        <hr>
        <button id="add-project" (click)="addProject()" type="button" class="btn px-3">
            Add project
        </button>
    </div>
</div>