<div class="container">
    <form [formGroup]="experienceForm">
        <div class="mb-3">
            <label for="company" class="form-label">Company</label>
            <input type="text" class="form-control no-outline" formControlName="company"  id="company">
        </div>
        <div class="mb-3">
            <label for="position" class="form-label">Position</label>
            <input type="email" class="form-control no-outline" formControlName="position" id="position">
        </div>
        <div class="mb-3">
            <label for="startDate" class="form-label">Start Date</label>
            <div class="input-group">
                <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" name="startDate" formControlName="startDate"
                    ngbDatepicker #startDateDp="ngbDatepicker" />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="startDateDp.toggle()" type="button"></button>
            </div>
        </div>
        <div  class="mb-3">
            <div class="flex">
                <input id="experience.0.present" class="rounded" type="checkbox" name="experience.0.present">
                <label for="experience.0.present" class="text-sm font-medium">Currently working here</label>
            </div>
        </div>
        <div class="mb-3">
            <label for="endDate" class="form-label">End Date</label>
            <div class="input-group">
                <input id="endDate" class="form-control" placeholder="yyyy-mm-dd" name="endDate" formControlName="endDate"
                    ngbDatepicker #endDateDp="ngbDatepicker" />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="endDateDp.toggle()" type="button"></button>
            </div>
        </div>
        <div class="mb-3">
            <label for="jobSummary" class="form-label">Job Summary</label>
            <textarea type="text" class="form-control no-outline" formControlName="jobSummary" id="jobSummary"></textarea>
        </div>
    </form>
</div>