<div class="container">
    <form [formGroup]="experienceForm">
        <div formArrayName="workExperiences">
            <div *ngFor="let proj of workExperiences.controls; let i = index" [formGroupName]="i">
                <hr>
                <div class="mb-3">
                    <label for="company" class="form-label">Company</label>
                    <input type="text" class="form-control no-outline" formControlName="company" id="company">
                </div>
                <div class="mb-3">
                    <label for="position" class="form-label">Position</label>
                    <input type="email" class="form-control no-outline" formControlName="position" id="position">
                </div>
                <div class="mb-3">
                    <label for="startDate" class="form-label">Start Date</label>
                    <div class="input-group">
                        <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" name="startDate"
                            formControlName="startDate" ngbDatepicker #startDateDp="ngbDatepicker" />
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="startDateDp.toggle()"
                            type="button"></button>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="flex">
                        <input id="experience-0-present" class="rounded" type="checkbox" formControlName="currentWork"
                            name="experience.0.present">
                        <label for="experience.0.present" class="working-here">Currently working here</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="endDate" class="form-label">End Date</label>
                    <div class="input-group">
                        <input id="endDate" class="form-control" placeholder="yyyy-mm-dd" name="endDate"
                            formControlName="endDate" ngbDatepicker #endDateDp="ngbDatepicker" />
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="endDateDp.toggle()"
                            type="button"></button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="jobSummary" class="form-label">Job Summary</label>
                    <textarea type="text" class="form-control no-outline" formControlName="jobSummary"
                        id="jobSummary"></textarea>
                </div>
                <button id="add-work" (click)="removeWork(i)" type="button" class="btn px-3">
                    Remove work
                </button>
            </div>
        </div>
    </form>
    <div>
        <hr>
        <button id="add-work" (click)="addWork()" type="button" class="btn px-3">
            Add work
        </button>
    </div>
</div>