.form-label {
    font-size: 14px;
}

.form-control {
    font-size: 14px;
}

.no-outline:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #020817;
    border-width: 2px;
  }

input {
    border-radius: .375rem !important;
}