.form-label {
    font-size: 14px;
}

.form-control {
    font-size: 14px;
    border-color: #6d6e7069;
    border-width: 1.5px;
}

.no-outline:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #020817;
    border-width: 2px;
}

input {
    border-radius: .375rem !important;
}

#remove-education,
#add-education {
  background-color: #000;
  color: #ffffff;
  border: 1px solid #000;
  border-radius: .375rem;
  border-width: 1px;
  font-size: 14px;
  font-weight: 200;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
  }
  #remove-education:hover,
  #add-education:hover {
    animation: smoothHover 0.4s ease forwards;
  }
  
  @keyframes smoothHover {
    0% {
      transform: scale(1);
      background-color: #ffffff;
      color: #000;
    }
    50% {
      transform: scale(1.1);
      background-color: #555555;
      color: #ffffff;
    }
    100% {
      transform: scale(1.05);
      background-color: #000000;
      color: #ffffff;
    }
  }
