<div class="container">
    <form [formGroup]="educationForm">
        <div formArrayName="educations">
            <div *ngFor="let educ of educations.controls; let i = index" [formGroupName]="i">
                <hr>
                <div class="mb-3">
                    <label for="school" class="form-label">School/University</label>
                    <input type="text" class="form-control no-outline" (keyup)="triggerUpdate()"  formControlName="school" id="school">
                </div>
                <div class="mb-3">
                    <label for="degree" class="form-label">Course/Degree</label>
                    <input type="email" class="form-control no-outline" (keyup)="triggerUpdate()"  formControlName="degree" id="degree">
                </div>
                <div class="mb-3">
                    <label for="startDate" class="form-label">Start Date (Year)</label>
                    <div class="input-group">
                        <select class="form-select" aria-label="Select start year" formControlName="startDate" (change)="onYearSelect()">
                            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                          </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="flex">
                        <input id="education-0-present" class="rounded mr-2" type="checkbox" formControlName="currentlyStudy"
                            name="education.0.present" (change)="onCheckboxChange()">
                        <label for="education.0.present" class="study-here ml-2">Currently studying here</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="endDate" class="form-label">End Date (Year)</label>
                    <select class="form-select" aria-label="Select start year" formControlName="endDate" (change)="onYearSelect()">
                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                      </select>
                </div>
                <button id="add-education" (click)="removeEducation(i)" type="button" class="btn px-3">
                    Remove project
                </button>
            </div>
        </div>
    </form>
    <div>
        <hr>
        <button id="add-education" (click)="addEducation()" type="button" class="btn px-3">
            Add Education
        </button>
    </div>
</div>