<div class="container">
    <div class="skill-section">
        <span>Suggested skills</span>
        <ul class="skills-list">
            <li *ngFor="let skill of suggestedSkills" (click)="addSkill(skill)">{{skill}}</li>
        </ul>
    </div>
    
    <form [formGroup]="skillsForm">
        <div formArrayName="skills">
            <div *ngFor="let skill of skills.controls; let i = index">
              <div class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control no-outline" [formControlName]="i" placeholder="Enter skill">
                    <button id="remove-skill" (click)="removeSkill(i)" type="button" class="btn px-3">
                        Remove</button>
                </div>
            </div>
             
            </div>
          </div>
    </form>
    <div>
        <button id="add-skill" (click)="addSkill('')" type="button" class="btn px-3">
            Add skill
        </button>
    </div>
   
</div>