#data-container {
    border-radius: .375rem;
    border: 0 solid #e5e7eb;
    border-width: 1px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
}

#title {
  font-weight: bold;
}

.generate {
  text-align: right;
}

.dev-by {
  font-weight: 500;
  color: #1f2937;
  font-size: 13px;
}

.tech-stack {
  margin-top: 24px;

  .techs {
    background-color: #e5e7eb;
    color: #1f2937;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 9999px;
    border: 0 solid #e5e7eb;
    border-width: 1px;
    font-size: 12px;
    font-weight: 700;
  }
}



.builder-container {
  height: 40rem;
  // overflow-x: auto;
  border-radius: .375rem;
  border: 0 solid #e5e7eb;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
}

#generate {
    background-color: #000;
    color: #ffffff;
    border: 1px solid #000;
    border-radius: .375rem;
    border-width: 1px;
    font-size: 14px;
    font-weight: 700;
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
  }

  #generate:hover {
    animation: smoothHover 0.4s ease forwards;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 36px;
  }

.email a {
  color: #2b482d;
}

a:link,
a:visited,

a:active { text-decoration: none; }

a:hover  {
  text-decoration: none;
  animation: smoothHover 0.4s ease forwards;
}

.font-size-50 {
    font-size: 50px;
}

.socials {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  color: #000000;
  display: inline-block;
  font-size: 12px;
  line-height: 2;
  position: relative;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 5px;
}

@keyframes smoothHover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}