<div class="container">
    <header class="my-4">
        <h2 id="title" class="">Resume Builder</h2>
        <p id="sub-title" class="text-xl text-gray-600">Build your professional resume in just a few minutes!</p>
    </header>
    <div class="row">
        <div id="data-container" class="col-12 col-md-4 p-3">
           <app-form-data></app-form-data>
        </div>
        <div class="col-12 col-md-8 p-3">
            <app-resume-builder id="viewer-container"></app-resume-builder>
            <div>
                <hr>
                <button id="generate" (click)="generate()" type="button" class="btn px-3">
                    Generate
                </button>
            </div>
        </div>
    </div>
</div>

