#data-container {
    border-radius: .375rem;
    border: 0 solid #e5e7eb;
    border-width: 1px;
}

#generate {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #000;
    border-radius: .375rem;
    border-width: 1px;
    font-size: 14px;
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
  }

  #generate:hover {
    animation: smoothHover 0.4s ease forwards;
  }
  
  @keyframes smoothHover {
    0% {
      transform: scale(1);
      background-color: #ffffff;
      color: #000;
    }
    50% {
      transform: scale(1.1);
      background-color: #555555;
      color: #ffffff;
    }
    100% {
      transform: scale(1.05);
      background-color: #000000;
      color: #ffffff;
    }
  }